{# IOS XE 16.3.5 Config on Cat 3K Feb 21 #}
aaa new-model
!
aaa group server radius {{ region.nacName }}
 server name {{ region.nacPrimaryName }}
 server name {{ region.nacSecondaryName }}
 server name {{ region.nacTertiaryName }}
 ip radius source-interface {{ interface }}
{% if vrf %}
 ip vrf forwarding {{ vrf }}
{% endif %}
!
aaa authentication dot1x default group {{ region.nacName }}
aaa authorization network default group {{ region.nacName }}
aaa accounting identity default start-stop group {{ region.nacName }}
aaa accounting network default stop-only group {{ region.nacName }}
aaa accounting connection default start-stop group {{ region.nacName }}
aaa accounting system default {% if vrf %} vrf {{ vrf }}{% endif %} start-stop broadcast group {{ region.nacName }} group {{ tacacsgroup }}
!
aaa server radius dynamic-author
 client 192.168.1.1 server-key 0 PlainTextKey
 client 172.25.1.1 server-key 0 PlainTextKey
 client 10.10.1.1 server-key 0 PlainTextKey
!
aaa session-id common
!
ip dhcp snooping vlan 1-4094
no ip dhcp snooping information option
ip dhcp snooping
access-session attributes filter-list list DEF-ACCT-LIST
 cdp
 lldp
 dhcp
access-session mac-move deny
access-session accounting attributes filter-spec include list DEF-ACCT-LIST
epm logging
!
device-tracking tracking
!
device-tracking upgrade-cli force
!
device-tracking policy DT_trunk_policy
 trusted-port
 device-role switch
!
service-template webauth-global-inactive
 inactivity-timer 3600
service-template DEFAULT_LINKSEC_POLICY_MUST_SECURE
 linksec policy must-secure
service-template DEFAULT_LINKSEC_POLICY_SHOULD_SECURE
 linksec policy should-secure
service-template DEFAULT_CRITICAL_VOICE_TEMPLATE
 voice vlan
service-template CRITICAL_AUTH_VLAN
 access-group ACL-ALLOW
 vlan {{ access_vlan }}
service-template GUEST_SUPP_VLAN
 vlan 88
service-template GUEST_VLAN
 vlan 88
service-template AUTH_FAIL_VLAN
 vlan 88
service-template AP_CRITICAL_AUTH_VLAN
 vlan 88
!
dot1x system-auth-control
dot1x critical eapol
!
class-map type control subscriber match-all AAA_SVR_DOWN_AUTHD_HOST
 match result-type aaa-timeout
 match authorization-status authorized
!
class-map type control subscriber match-all AAA_SVR_DOWN_UNAUTHD_HOST
 match result-type aaa-timeout
 match authorization-status unauthorized
!
class-map type control subscriber match-all DOT1X
 match method dot1x
!
class-map type control subscriber match-all DOT1X_FAILED
 match method dot1x
 match result-type method dot1x authoritative
!
class-map type control subscriber match-all DOT1X_MEDIUM_PRIO
 match authorizing-method-priority gt 20
!
class-map type control subscriber match-all DOT1X_NO_RESP
 match method dot1x
 match result-type method dot1x agent-not-found
!
class-map type control subscriber match-all DOT1X_TIMEOUT
 match method dot1x
 match result-type method dot1x method-timeout
!
class-map type control subscriber match-any IN_CRITICAL_VLAN
 match activated-service-template DEFAULT_CRITICAL_VOICE_TEMPLATE
 match activated-service-template CRITICAL_AUTH_VLAN
!
class-map type control subscriber match-all MAB
 match method mab
!
class-map type control subscriber match-all MAB_FAILED
 match method mab
 match result-type method mab authoritative
!
class-map type control subscriber match-none NOT_IN_CRITICAL_VLAN
 match activated-service-template DEFAULT_CRITICAL_VOICE_TEMPLATE
 match activated-service-template CRITICAL_AUTH_VLAN
!
policy-map type control subscriber DEVICE_ACCESS_ISE_POLICY
 event session-started match-all
  10 class always do-until-failure
   10 authenticate using mab priority 20
 event authentication-failure match-first
  5 class DOT1X_FAILED do-until-failure
   10 terminate dot1x
   20 authentication-restart 60
  10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
   10 activate service-template CRITICAL_AUTH_VLAN
   20 authorize
   30 pause reauthentication
  20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
   10 pause reauthentication
   20 authorize
  30 class MAB_FAILED do-until-failure
   10 terminate mab
   20 authenticate using dot1x retries 2 retry-time 0 priority 10
  40 class DOT1X_TIMEOUT do-until-failure
   10 terminate dot1x
   20 activate service-template GUEST_SUPP_VLAN
   30 authorize
  50 class DOT1X_NO_RESP do-until-failure
   10 terminate dot1x
   20 activate service-template GUEST_VLAN
   30 authorize
  70 class always do-until-failure
   10 terminate mab
   20 terminate dot1x
   30 authentication-restart 60
 event agent-found match-all
  10 class always do-until-failure
   10 terminate mab
   20 authenticate using dot1x retries 2 retry-time 0 priority 10
 event aaa-available match-all
  10 class IN_CRITICAL_VLAN do-until-failure
   10 clear-session
  20 class NOT_IN_CRITICAL_VLAN do-until-failure
   10 resume reauthentication
 event inactivity-timeout match-all
  10 class always do-until-failure
   10 clear-session
 event authentication-success match-all
 event violation match-all
  10 class always do-until-failure
   10 replace
!
template DEVICE_ACCESS_TEMPLATE
 dot1x pae authenticator
 dot1x timeout tx-period 10
 dot1x timeout supp-timeout 10
 switchport access vlan {{ access_vlan }}
 switchport mode access
 switchport voice vlan {{ voice_vlan }}
 storm-control broadcast level 0.10
 storm-control action trap
 spanning-tree portfast
 spanning-tree bpduguard enable
 mab
 access-session host-mode multi-domain
 access-session control-direction in
 access-session closed
 access-session port-control auto
 authentication periodic
 authentication timer reauthenticate server
 service-policy type control subscriber DEVICE_ACCESS_ISE_POLICY
 load-interval 30
!
template MULTIAUTH_ACCESS_TEMPLATE
 dot1x pae authenticator
 dot1x timeout tx-period 10
 dot1x timeout supp-timeout 10
 switchport access vlan {{ access_vlan }}
 switchport mode access
 switchport voice vlan {{ voice_vlan }}
 storm-control broadcast level 0.10
 storm-control action trap
 spanning-tree portfast
 spanning-tree bpduguard enable
 mab
 access-session host-mode multi-auth
 access-session control-direction in
 access-session closed
 access-session port-control auto
 authentication periodic
 authentication timer reauthenticate server
 service-policy type control subscriber DEVICE_ACCESS_ISE_POLICY
 load-interval 30
!
{% for trunk in trunks %}
interface {{ trunk }}
 ip dhcp snooping trust
 no access-session monitor
 device-tracking attach-policy DT_trunk_policy
!
{% endfor %}
!
{% for int in dot1x_ints  %}
default interface {{ int.int_name }}
interface {{ int.int_name }}
 shutdown
{{ intInfo[int.int_name].int_description }}
 ip access-group ACL-DEFAULT in
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 source template DEVICE_ACCESS_TEMPLATE
 service-policy output QUEUE-OUTPUT-LAN
 no shutdown
!
{% endfor %}
!
ip access-list standard SNMP-CLIENTS
 remark NAC Servers
 permit 192.168.1.1
 permit 10.10.1.1
 permit 172.25.1.1
 deny any
!
ip access-list extended ACL-ALLOW
 permit ip any any
ip access-list extended ACL-DEFAULT
 remark DHCP
 permit udp any eq bootpc any eq bootps
 remark DNS
 permit udp any any eq domain
 deny ip any any
!
snmp-server source-interface informs {{ interface }}
snmp-server source-interface traps {{ interface }}
!
snmp-server community PlainTextSNMP SNMP-CLIENTS
!
snmp-server host 192.168.1.1 traps version 2c PlainTextSNMP mac-notification
snmp-server host 172.25.1.1 traps version 2c PlainTextSNMP mac-notification
snmp-server host 10.10.1.1 traps version 2c PlainTextSNMP mac-notification
snmp-server enable traps snmp linkdown linkup
snmp-server enable traps mac-notification change
!
radius-server attribute 6 on-for-login-auth
radius-server attribute 6 support-multiple
radius-server attribute 8 include-in-access-req
radius-server attribute 25 access-request include
radius-server dead-criteria time 5 tries 3
radius-server deadtime 30
!
radius server NAC-EAME
 address ipv4 172.25.1.1 auth-port 1812 acct-port 1813
 key PlainTextKey

radius server NAC-NA
 address ipv4 192.168.1.1 auth-port 1812 acct-port 1813
 key PlainTextKey

radius server NAC-AP
 address ipv4 10.10.1.1 auth-port 1812 acct-port 1813
 key PlainTextKey
!
radius-server vsa send accounting
radius-server vsa send authentication
!
mac address-table notification change interval 300
mac address-table notification change history-size 100
mac address-table notification change
mac address-table notification mac-move
!
